
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;

  margin: 0px;
}
p{

  margin: 1em 0px;
}
*{

  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #606060;
}


h1{
  font-size: x-large;
  font-weight: 900;
}

h2{
  font-size: large;
  font-weight: 700;
}

@font-face {
  font-family: "Poland";
  src: url("../public/PolandCanIntoBigWritingsOutline-B9RV.otf");
}


@media screen and (min-width: 1500px) {
  * {
    font-size: 25px;
  }

}
@media screen and (max-width: 1500px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 1300px) {
  * {
    font-size: 15px;
  }



}