
@tailwind base;
@tailwind components;
@tailwind utilities;


*{

  box-sizing: border-box;
}

h1{
  font-size: x-large;
  font-weight: 900;
}

@font-face {
  font-family: "Poland";
  src: url("../public/PolandCanIntoBigWritingsOutline-B9RV.otf");
}


@media screen and (min-width: 1500px) {
  * {
    font-size: 25px;
  }

}
@media screen and (max-width: 1500px) {
  * {
    font-size: 20px;
  }
}
@media screen and (max-width: 1300px) {
  * {
    font-size: 15px;
  }



}